* {
  font-family: "Barlow Condensed", sans-serif;
  font-family: "Montserrat Alternates", sans-serif;
  /* text-transform: uppercase; */
  color: whitesmoke;
  /* font-weight: 900; */
}

/*** ------------- End Navbar component ------------------*/

/*** ------------- Landing Page --------------------------*/
.landing-wrapper {
  position: relative;
  background: url(./assets/landing.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 28rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
}

/*** ------------ End Landing Page --------------------------*/

/*** ------------ Jumbotron component ------------------------*/

.transparent {
  background-color: transparent;
  backdrop-filter: opacity(20%);
  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);
  backdrop-filter: contrast(40%);
  backdrop-filter: drop-shadow(4px 4px 10px blue);
}

/*** ------------ End Jumbotron component ---------------------*/
/*** ------------- Typed Text --------------------------------*/

.typed-text {
  font-size: 1.5rem;
  color: white;
}

/*** ------------ End Typed Text -----------------------------*/

/*** ----------------- contactBTN component ------------------*/

.btn-main-offer {
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
}

.contact-btn1 {
  margin: 1rem 0 0 0;
  background: none;
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.8);
}
.contact-btn1:hover {
  margin: 1rem 0 0 0;
  background: none;
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.8);
}
.contact-btn2 {
  margin: 1rem 0 0 0;
  width: 100%;
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.2);
}
.contact-btn2:hover {
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.5);
}
/*** ------------ End contactBTN component  -------------------*/

/*** ----------------- Particles ------------------------------*/
.particles-canvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
/*** ------------ End Particles  ------------------------------*/

/*** ----------------- Profile --------------------------------*/

#techTable {
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.5);
  padding-top: 1rem;
}

#profile {
  padding: 6rem;
  padding-bottom: 6rem;
}
.headShot {
  border-radius: 50%;
  height: auto;
  width: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}
.profile-wrapper {
  background-image: url(./assets/profile_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

/*** ----------------- End Profile ---------------------------*/

/*** ----------------- Portfolio --------------------------------*/

.portfolio {
  background-image: url(./assets/projects_background.jpg);
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.portfolio h1 {
  color: orange;
  padding: 3rem 0;
}

.portfolio-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.myCarousel {
  background: transparent;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.carousel .slide img {
  height: 30rem !important;
  width: 45rem !important;
  padding-top: 6%;
}

.carousel .slide {
  background-color: rgba(0, 0, 0, 0.7) !important;
  height: 100% !important;
}
.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}
/*** ----------------- End Portfolio ---------------------------*/

/*** ----------------- Contact -------------------------------*/
.display-1 {
  color: orange;
}

.contact h1 {
  padding: 1.3rem 0;
}

.contact p {
  font-size: 1.2rem;
}

.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid #eee;
  border-radius: 0;
  color: orange;
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.video-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 62.5rem rgba(0, 0, 0, 0.6);
  padding: 3rem 0;
  z-index: 2;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  color: orange;
  border-bottom: 0.125rem solid #eee;
}
.contact textarea {
  height: 12.2rem !important;
}

::placeholder {
  color: orange !important;
  opacity: 1;
}

.line {
  position: relative;
  width: 0;
  height: 0.125rem;
  top: -0.8rem;
  background: orange;
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}
textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: orange;
  text-align: left;
}

.success-message {
  color: green;
  text-align: left;
}
/*** ----------------- End Contact ---------------------------*/

/*** ----------------- Navbar --------------------------------*/
.fontA-icons {
  margin: 2% !important;
}

/*** ----------------- End Navbar ---------------------------*/

/** -------------start scroll bar -------------------------- */

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
/** ---------------- End scroll bar -------------------------- */

/*** ----------------- Responsive  ---------------------------*/
@media (max-width: 768px) {
  .typed-text {
    font-size: 1.1rem;
    color: white;
  }
  .display-1 {
    font-size: 3rem;
    color: orange;
    padding-top: 4rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }
  .carousel .slide img {
    height: 12rem !important;
    width: 16rem !important;
    padding-top: 6%;
  }

  .container {
  }
  .contact .container {
    padding: 0 3rem;
  }
  .contact p {
    padding: 0 1rem;
  }

  .main-info {
    display: flex;
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contact textarea {
    height: 4rem !important;
  }

  .contact-btn2 {
    margin-bottom: 1rem;
  }
  #profile {
    padding-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
}

/*** ----------------- End Responsive ------------------*/
