h1 {
  font-family: "Montserrat";
  text-align: center;
}

.s1 {
  background: url(./assets/welcomeTyping.mov);
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
